:ROOT{
    --color-60: #005A6F;
    --color-30: #C202CC;
    --color-10: #5F1E88;
}

body{
    margin: 0;
}

.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatey(20%);
}

.content-box{
    width: 80rem;
    height: 30rem;
    background: linear-gradient(-60deg, var(--color-30), var(--color-30), var(--color-60), var(--color-60), var(--color-60));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.mendes-box{
    text-shadow: 0px 0px 20px #ffffff;
}

.header-box{
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #005A6F;
}

.footer-box{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #005A6F;
}

.content-footer{

}

.img-logo{
    width: 50px;
}

.left-box{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-box > h1{
    font-size: 2.5rem; /*rem é o padrão para medição */
    color: #ffffff;
}

.right-box{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: var(--color-10);
    border-radius: 20px;
    box-shadow: 0px 10px 60px #000000;
}

.text-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.text-box > input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #ffffff;
    padding: 10px;  
    background: var(--color-10);
    color: #ffffff;
    font-size: 12pt;
    box-sizing: border-box;
    outline: none;
}

.text-box > label{
    color: #ffffff;
    margin-bottom: 10px;
}

.login-button{
    width: 100%;
    padding: 1rem 5rem;
    margin-top: 2rem;
    border: none;
    border-radius: 10pt;
    outline: none;
    font-weight: 800;
    letter-spacing: 1pt;
    color: var(--color-10);
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0px 10px 50px -12px #ffffff;
}

@media only screen and (max-width: 950px) {
    .login-box{
        width: 80%;
    }
}

@media only screen and (max-width: 600px){
    .content-box{
        flex-direction: column;
    }

    .left-box{
        width: 100%;
        height: auto;
    }

    .left-box > h1{
        font-size:  5vw;
        padding-bottom: 30px;
        height: auto;
        text-align: center;
    }

    .right-box{
        width: 90%;
        height: auto;
    }

}